---
interface Props {
    beforeSrc: string;
    afterSrc: string;
    beforeAlt?: string;
    afterAlt?: string;
    beforeCaption?: string;
    afterCaption?: string;
}

const { 
    beforeSrc = "https://images.pexels.com/photos/3728078/pexels-photo-3728078.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", 
    afterSrc = "https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", 
    beforeAlt = "Before Image", 
    afterAlt = "After Image", 
    beforeCaption = "Before Image", 
    afterCaption = "After Image" 
} = Astro.props;
---

<div class="before-after-slider">

    <figure class="before-image">
        <img width="auto" height="auto" src={beforeSrc} alt={beforeAlt} loading="lazy"/>
        <figcaption class="before-image__caption">
            {beforeCaption}
        </figcaption>
    </figure> <!-- .before-image -->

    <div class="resizer"></div>

    <figure class="after-image">
        <img width="auto" height="auto" src={afterSrc} alt={afterAlt} loading="lazy"/>
        <figcaption class="after-image__caption">
            {afterCaption}
        </figcaption>
    </figure> <!-- .after-image -->

</div> <!-- .before-after-slider -->

<script src="../scripts/image-comparison-slider.js"></script>